.categories-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: var(--size-2);
    padding: var(--size-4) 2rem;
}

.category {
    height: var(--size-4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--font-size-small);
    color: var(--primary-dark);
    border: 1px solid var(--primary-main);
    border-radius: var(--size-1);
}