.items-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-3);
    margin: var(--size-3) 0;
}

#filter-form {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

#filter-label {
    font-size: var(--font-size-small);
}

#filter {
    width: 100%;
    height: var(--size-4);
    margin-top: var(--size-1);
}

.items-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: var(--size-4) 0;
    padding: 0 20px;
    gap: var(--size-4);
}

.item {
    max-width: 350px;
    position: relative;
    text-align: center;
    transition: transform var(--transition-duration);
}

.item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.item img {
    width: 100%;
}

.item p {
    font-size: var(--font-size-extra-small);
}

/* Mobile */
@media (min-width: 500px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet */
@media (min-width: 768px) {
    .items-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop */
@media (min-width: 1366px) {
    .items-container {
        grid-template-columns: repeat(4, 1fr);
    }
}