.header {
    position: sticky;
    height: 65px;
    top: 0;
    left: 0;
    background-color: var(--white-main);
}

.header .logo {
    width: 6.25rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: var(--size-2);
}

.nav-link {
    min-width: 4.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 80px;
    background-color: var(--primary-light);
    padding: 0 var(--size-3);
}

.footer-container {
    height: 100%;
    align-items: center;
}

.footer .social {
    min-width: 130px;
    display: flex;
    justify-content: space-evenly;
}

.social-icon img {
    width: 25px;
}

.copyright {
    font-size: var(--font-size-extra-small);
}