:root {
    /* Colors */
    --primary-main: #0067fc;
    --primary-light: #dde8f1;
    --primary-dark: #0048cd;
    --white-main: #fff;
    --white-blurred: rgba(255, 255, 255, 0.6);
    --color-title: rgb(1, 0, 22);
    --color-delete: rgb(184, 0, 0);

    /* Font sizes */
    --font-size-extra-small: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;

    /* Sizes */
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 1rem;
    --size-4: 2rem;

    /* Animation */
    --transition-duration: 0.3s;
}